@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 40%;
  margin: 30px auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 20px;
  border-radius: 5px;
}

.header {
  align-items: center; 
  margin-bottom: 20px;
  text-align: center;
  width: 60%;
  display: flex;
  margin: 0px 40%;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

 /* Edited by Akhil Anand */

.logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    text-align: center;

}

.search-box{
  width: 70%;
  float: left;
}

.search-btn{
  width: 25% !important;
  float: right;
  padding: 9px 20px;
}


.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 10px 10px 10px 12px;
}

.suggestion-active,
.suggestions li:hover {
  color: #000000;
  cursor: pointer;
  font-weight: 600;
}

h1{
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  margin: 10px;
  text-align: center;
}
